
@inherits DisplayEmployeeBase

    <div style="margin-right:20px; margin-bottom:25px;">
        <div class="card-header">
            <h5>
            <input type="checkbox" @onchange="CheckBoxChanged"/>
            @Employee.FirstName  @Employee.LastName</h5>
        </div>
        <img class="card-img-top imageThumbnail" src="@Employee.PhotoPath" />

        @if (ShowFooter)
        {
            <div class="row" style="margin-left:20px; margin-top:15px;">
                <a href="@($"employeedetails/{Employee.EmployeeId}")" class="btn btn-primary m-1">View</a>

                <a href="@($"editemployee/{Employee.EmployeeId}")" class="btn btn-primary m-1">Edit</a>

                <a href="#" class="btn btn-danger m-1">Delete</a>
            </div>
        }

    </div>