@page "/employeedetails/{id}"
@page "/employeedetails"
@inherits EmployeeDetailsBase
<h3>Employee Details</h3>

@if (Employee == null)
{
    <div class="spinner"></div>
}
else
{

    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h3>@Employee.FirstName @Employee.LastName</h3>
                </div>

                <div class="card-body text-center">
                    <img class="card-img-top imageThumbnail" src="@Employee.PhotoPath" />

                    <h4>Aircraft No. : @Employee.EmployeeId</h4>
                    <h4>Dealer email : @Employee.Email</h4>
                    <h4>Category : @(Employee.Department== null ? "N/A" : Employee.Department.DepartmentName)</h4>
                </div>
                <div class="card-footer text-center">
                    <a href="/" class="btn btn-primary">Back</a>
                    <a href="@($"editemployee/{Employee.EmployeeId}")" class="btn btn-primary m-1">Edit</a>
                    @*<a href="#" class="btn btn-danger">Delete</a>*@
                </div>
            </div>
        </div>
    </div>
}